CDODesign/cdo-example/Spring-CDO-3.X.X-Example/example-data/src/main/java/DataService3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 被2013 sp1 () 使用XMLSpy v编辑的 (http://www.altova.com) by -->
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="SetVar">
		<xs:complexType>
			<xs:attribute name="Type" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Byte"/>
						<xs:enumeration value="Short"/>
						<xs:enumeration value="Integer"/>
						<xs:enumeration value="Long"/>
						<xs:enumeration value="Float"/>
						<xs:enumeration value="Double"/>
						<xs:enumeration value="String"/>
						<xs:enumeration value="Date"/>
						<xs:enumeration value="Time"/>
						<xs:enumeration value="DateTime"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VarId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Value" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResetPage">
		<xs:complexType>
			<xs:attribute name="PageIndex" use="optional" default="{nPageIndex}">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PageSize" use="optional" default="{nPageSize}">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TotalCount" use="optional" default="{nCount}">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FetchPage" use="optional" default="FIRST">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="FIRST"/>
						<xs:enumeration value="LAST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="StartIndex" use="optional" default="{nStartIndex}">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="RowNum" use="optional" default="{nRowNum}">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQLIf">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NullSQLThen" type="SQLBlockType" minOccurs="0"/>
				<xs:element name="SQLThen" type="SQLBlockType" minOccurs="0"/>
				<xs:element name="SQLElse" type="SQLBlockType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Value1" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Operator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="="/>
						<xs:enumeration value="!="/>
						<xs:enumeration value="&gt;"/>
						<xs:enumeration value="&gt;="/>
						<xs:enumeration value="&lt;"/>
						<xs:enumeration value="&lt;="/>
						<xs:enumeration value="IS"/>
						<xs:enumeration value="ISNOT"/>
						<xs:enumeration value="MATCH"/>
						<xs:enumeration value="NOTMATCH"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Value2" type="xs:string" use="required"/>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Boolean"/>
						<xs:enumeration value="Byte"/>
						<xs:enumeration value="Short"/>
						<xs:enumeration value="Integer"/>
						<xs:enumeration value="Long"/>
						<xs:enumeration value="Float"/>
						<xs:enumeration value="Double"/>
						<xs:enumeration value="String"/>
						<xs:enumeration value="Date"/>
						<xs:enumeration value="Time"/>
						<xs:enumeration value="DateTime"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReturnItem">
		<xs:complexType>
			<xs:attribute name="FieldId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ValueId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQLFor">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="ArrKey" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="IndexId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="FromIndex" use="optional" default="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Step" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Count" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="SQLBlockType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element name="OutputTable">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OutputSQL">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OutputField">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="SQLIf"/>
			<xs:element ref="SQLFor"/>
			<xs:element ref="SQLSwitch"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="SelectTable">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="OutputId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SelectRecordSet">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="OutputId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="RecordCountId" use="optional" default="">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})?"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SelectRecord">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="OutputId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="RecordCountId" use="optional" default="">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})?"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="SelectField">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="OutputId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Insert" type="SQLBlockType"/>
	<xs:element name="Update">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="RecordCountId" use="optional" default="">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})?"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Delete">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="SQLBlockType">
					<xs:attribute name="RecordCountId" use="optional" default="">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})?"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BlockType">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="SelectTable"/>
			<xs:element ref="Insert"/>
			<xs:element ref="Update"/>
			<xs:element ref="Delete"/>
			<xs:element ref="SelectRecordSet"/>
			<xs:element ref="SelectRecord"/>
			<xs:element ref="SelectField"/>
			<xs:element ref="SetVar"/>
			<xs:element ref="If"/>
			<xs:element ref="For"/>
			<xs:element ref="Switch"/>
			<xs:element ref="Return"/>
			<xs:element ref="Break"/>
			<xs:element ref="ResetPage"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Break"/>
	<xs:element name="For">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="BlockType">
					<xs:attribute name="ArrKey" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="IndexId" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:minLength value="1"/>
								<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="FromIndex" use="optional" default="0">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Step" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Count" use="optional">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:pattern value="([0-9]{1,9})|(\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\})"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="If">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="NullThen" type="BlockType" minOccurs="0"/>
				<xs:element name="Then" type="BlockType" minOccurs="0"/>
				<xs:element name="Else" type="BlockType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Value1" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Operator" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="="/>
						<xs:enumeration value="!="/>
						<xs:enumeration value="&gt;"/>
						<xs:enumeration value="&gt;="/>
						<xs:enumeration value="&lt;"/>
						<xs:enumeration value="&lt;="/>
						<xs:enumeration value="IS"/>
						<xs:enumeration value="ISNOT"/>
						<xs:enumeration value="MATCH"/>
						<xs:enumeration value="NOTMATCH"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Value2" type="xs:string" use="required"/>
			<xs:attribute name="Type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Boolean"/>
						<xs:enumeration value="Byte"/>
						<xs:enumeration value="Short"/>
						<xs:enumeration value="Integer"/>
						<xs:enumeration value="Long"/>
						<xs:enumeration value="Float"/>
						<xs:enumeration value="Double"/>
						<xs:enumeration value="String"/>
						<xs:enumeration value="Date"/>
						<xs:enumeration value="Time"/>
						<xs:enumeration value="DateTime"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Return">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ReturnItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Code" type="xs:int" use="required"/>
			<xs:attribute name="Info" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Text" use="optional" default="OK">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OnError">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Return"/>
			</xs:sequence>
			<xs:attribute name="Code" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQLTrans">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="SelectTable"/>
					<xs:element ref="Insert"/>
					<xs:element ref="Update"/>
					<xs:element ref="Delete"/>
					<xs:element ref="SelectField"/>
					<xs:element ref="SelectRecord"/>
					<xs:element ref="SelectRecordSet"/>
					<xs:element ref="If"/>
					<xs:element ref="For"/>
					<xs:element ref="Switch"/>
					<xs:element ref="SetVar"/>
					<xs:element ref="ResetPage"/>
				</xs:choice>
				<xs:element ref="OnException"/>
				<xs:element ref="Return"/>
			</xs:sequence>
			<xs:attribute name="TransName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|_|\.)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DataGroupId" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="(([a-z]|[A-Z])([a-z]|[A-Z]|[0-9])*)*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Propagation" use="optional" default="REQUIRED">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="REQUIRED"/>
						<xs:enumeration value="SUPPORTS"/>
						<xs:enumeration value="MANDATORY"/>
						<xs:enumeration value="REQUIRES_NEW"/>
						<xs:enumeration value="NOT_SUPPORTED"/>
						<xs:enumeration value="NEVER"/>
						<xs:enumeration value="NESTED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ZkId" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataService">
		<xs:complexType>
			<xs:sequence>
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="SQLTrans"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OnException">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OnError" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Return"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Switch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CaseNull" type="BlockType" minOccurs="0"/>
				<xs:element name="Case" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="BlockType">
								<xs:attribute name="Value" type="xs:string" use="required"/>
								<xs:attribute name="Separate" type="xs:string" default=""/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Default" type="BlockType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Var" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SQLSwitch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SQLCaseNull" type="SQLBlockType" minOccurs="0"/>
				<xs:element name="SQLCase" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SQLBlockType">
								<xs:attribute name="Value" type="xs:string" use="required"/>
								<xs:attribute name="Separate" type="xs:string" default=""/>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SQLDefault" type="SQLBlockType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="Var" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:pattern value="\{([a-z]|[A-Z])([a-z]|[A-Z]|[0-9]|\.|\[|\])*\}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
